body{
	padding: 0;
	margin: 0;
	font-family: "montserrat",sans-serif;
}
.material-icons-outlined{
	vertical-align: middle;
	line-height: 1px;
	font-size: 35px;
}
.grid-container{
	display: grid;
	grid-template-columns: 260px 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas:
	"sidebar header header header"
	"sidebar main main main";
	height: 100vh;
}


.header{
	grid-area: header;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 30px;
	box-shadow: 0 6px 7px-3px rgba(0,0,0,0.35);



}
.menu-icon{
	display: none;
	
}
#sidebar {
	grid-area: sidebar;
	height: 100%;
	background-color: grey;
	overflow-y: auto;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;

}
.sidebar-title{
	font-size: 25px;
	font-weight: bold;
	animation-direction: alternate;
	animation-duration: 2sec;
}
.sidebar-title span{
	color: blue;
	animation: backwards;
	gap: 10px;
}
.sidebar-listing li {
list-style-type: none;
font-weight: bo;
font-size: 15px;
font-family: monospace;
justify-content: space between;
display: flex;
gap: 10px;

}
.sidebar-listing li i{
	
	font-size: 15px;
}
.sidebar-listing li:hover{
	color: blue;
}
.sidebar-responsive{
	display: inline !important;
	position: absolute;
	z-index: 12 !important;
}
.main-container {
	grid-area: main;
	background-color: beige;
	overflow-y: auto;
	padding: 20px 20px;
}
.main-title{
  display: flex;
  justify-content: space-between;
}
.main-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 6px;

}
.card:first-child {
  background-color: #2962ff;
}
.card:nth-child(2) {
  background-color:  #ff6d00;
}
.card:nth-child(3){
  background-color: orange;
}
.card:nth-child(4){
background-color: grey;
}

.card-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts{
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
}
.barChart{
  grid-template-columns: 1fr;
}
// medium size screen
@media screen and (max-width: 992px){
.grid-container{
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas: 
	"header"
	"main";
}
#sidebar{
	display: none;
}
.menu-icon{
	display: inline;
}
.sidebar-title{
	display: inline;
}
}
/* small size*/
@media screen and (max-width: 768px){
	.main-cards{
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 0;
	}
	.charts{
		grid-template-columns: 1fr;
		margin-top: 30px;
	}
}
/*EXTRA SMALL*/
@media screen and (max-width: 576px){
	.grid-container{
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas: 
	"header"
	"sidebar"	
	"main";
}
	#sidebar{
		width: 50px;
	}
		.charts{
		grid-template-columns: 1fr;
		margin-top: 30px;
	}
}


